@charset "utf-8";
/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;}
body{color:#515151;font:12px/150% Arial,Verdana,"宋体";min-width:1000px}
a{text-decoration:none;}
em{font-style:normal;}
li{list-style:none;}
input{outline:none;}
img{border:0;vertical-align:middle;display: block;}
table{border-collapse:collapse;border-spacing:0;}
p{word-wrap:break-word;}
.common{width:1000px;margin:0 auto;}

/*header*/
#header{height:95px;width:100%;}
.header_con{height:95px;}
.header_con a{float:left;height:75px;margin:10px 0;}
.header_con .logo{float:left;}
.header_con .logo_txt{float:left;padding-left:3px;line-height:70px;font-size:24px;font-family:"微软雅黑";color:#515151;}
/*footer*/
#footer{height:124px;width:100%;}
.footer_con{height:104px;padding-top:20px;text-align:center;}
.footer_con p{height:26px;line-height:26px;font-family:"宋体",Arial,Helvetica,sans-serif}
.footer_con p a{color:#666;}
.footer_con p a:hover{text-decoration:underline;}